@page "/projects"
@using ASBDDS.Shared.Models.Responses
@inject IHttpService _httpClient
@inject IDialogService _dialogService

<MudTable Items="@_projects" Dense="@true" Hover="@true" Loading="@_loading" Bordered="@true" Striped="@true" Filter="new Func<ProjectAdminResponse,bool>(FilterFunc)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Projects List</MudText>
        <MudIconButton Class="float-left" Icon="@Icons.Material.Rounded.Add" Color="Color.Success" OnClick="@ShowCreateDialog" aria-label="add"></MudIconButton>
        <MudText Class="small">Add Project</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        @* <MudTh>Allow Custom Boot Loaders</MudTh> *@
        @* <MudTh>Default Vlan</MudTh> *@
        <MudTh>Disabled</MudTh>
        <MudTh></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        @* <MudTd DataLabel="AllowCustomBootloaders">@context.AllowCustomBootloaders</MudTd> *@
        @* <MudTd DataLabel="DefaultVlan">@context.DefaultVlan</MudTd> *@
        <MudTd DataLabel="Disabled">@context.Disabled</MudTd>
        <MudTd Style="white-space: nowrap; width: 1%;">
            <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowDevices(context.Id.ToString()))">
                @(_showDeviceLimits.GetValueOrDefault(context.Id.ToString())? "Hide" : "Show") Device Limits
            </MudButton>
        </MudTd>
        <MudTd Style="white-space: nowrap; width: 1%;" DataLabel="Options">
            <MudMenu Label="Options" Size="Size.Small" Dense="true" FullWidth="true" Direction="Direction.Start">
                <MudMenuItem OnClick="@(() => ShowUpdateDialog(context))">Edit</MudMenuItem>
                <MudMenuItem OnClick="@(() => DeleteProject(context))">Disable</MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (_showDeviceLimits.GetValueOrDefault(context.Id.ToString()))
        {
            <MudTr>
                <td colspan="6">
                    <MudCard Elevation="0">
                        <MudCardContent Class="pa-0">
                            <MudTable Items="@context.DeviceLimits" Context="DeviceContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="1">
                                <ColGroup>
                                    <col />
                                    <col />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>Device Manufacturer</MudTh>
                                    <MudTh>Device Model</MudTh>
                                    <MudTh>Device Count</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Model">@DeviceContext.Manufacturer</MudTd>
                                    <MudTd DataLabel="Model">@DeviceContext.Model</MudTd>
                                    <MudTd DataLabel="Count">@DeviceContext.Count</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<SnackBars @ref="_snackBars"></SnackBars>
@code {
    private bool _loading;
    private string _searchString = "";
    private SnackBars _snackBars;

    private IEnumerable<ProjectAdminResponse> _projects = new List<ProjectAdminResponse>();
    private readonly Dictionary<string, bool> _showDeviceLimits = new Dictionary<string, bool>();

    protected override async Task OnInitializedAsync()
    {
        await GetListDataFromServer();
    }

    private async Task GetListDataFromServer(bool stateHasChanged = false)
    {
        _loading = true;
        await _httpClient.Get<List<ProjectAdminResponse>>("api/admin/projects/",
            async response =>
            {
                await Task.Run(action: () => 
                {
                    _showDeviceLimits.Clear();
                    foreach (var element in response.Data)
                    {
                        _showDeviceLimits.Add(element.Id.ToString(), false);
                    }
                    _projects = response.Data;
                });
            }, async response =>
            {
                await _snackBars.ShowError(response.Status.Message);
            });
        
        _loading = false;
        if (stateHasChanged) 
            StateHasChanged();
    }

    private void ShowDevices(string id)
    {
        _showDeviceLimits[id] = _showDeviceLimits[id] != true;
    }

    private async void ShowCreateDialog()
    {
        var dialogOptions = new DialogOptions() { MaxWidth = MaxWidth.False };
        var dialog = _dialogService.Show<ProjectCreateDialog>("Create Project", dialogOptions);
        var result = await dialog.Result;
        if (result.Cancelled) return;
        await GetListDataFromServer(true);
    }

    private async void ShowUpdateDialog(ProjectAdminResponse project)
    {
        var parameters = new DialogParameters { ["Project"] = project };
        var dialogOptions = new DialogOptions() { MaxWidth = MaxWidth.False };
        var dialog = _dialogService.Show<ProjectUpdateDialog>("Edit Project", parameters, dialogOptions);
        var result = await dialog.Result;
        if (result.Cancelled) return;
        await GetListDataFromServer(true);
    }

    private async void DeleteProject(ProjectAdminResponse project)
    {
        var parameters = new DialogParameters {{"EntityName", "project"}};

        var result = await _dialogService.Show<DeleteConfirmDialog>("Delete", parameters).Result;
        if (result.Cancelled) return;
        
        await _httpClient.Delete<ProjectAdminResponse>("api/admin/projects/" + project.Id,
            async _ =>
            {
                await GetListDataFromServer(true);
            }, async response =>
            {
                await _snackBars.ShowError(response.Status.Message);
            });
    }

    private bool FilterFunc(ProjectAdminResponse project)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if (project.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (project.Id.ToString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}
